[Unit]
Description=Catalog LLM Query
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/flask/catalog_llm_query
Environment="PATH=/home/ubuntu/flask/catalog_llm_query/flaskvenv/bin"
ExecStart=/home/ubuntu/flask/catalog_llm_query/flaskvenv/bin/gunicorn --workers 3 --bind unix:/home/ubuntu/flask/catalog_llm_query/llm.sock -m 007 app:app

[Install]
WantedBy=multi-user.target
