{
  "environment": "development",
  "host": {
    "protocol": "http",
    "hostname": "localhost",
    "port": 8080
  },
  "database": {
    "connectionUri": "http://127.0.0.1:8529/",
    "dbName": "igvf",
    "auth": {
        "username": "user",
        "password": "psswd"
    }
  }
}
